*{
	margin:0;
	padding:0;
	}
body{line-height:1; font-size:1.5rem;word-break: normal}
ol,ul{list-style:none}
html,body{width:100%;height:100%;}
body{white-space:nowrap}
html,body,.main{
			height: 100%;
			position:relative;
		}

.swiper-container{
	height:100%;
	position:relative;
}
.swiper-slide{
	background-size:100% 100%;
	position:relative;
}



.left-img{padding:0;text-align:left}
.left-img img{position:absolute;left:0;top:0;height:100%;z-index:1}
.left-img p,.left-img h3,.left-img .text{position:absolute;top:1em;right:1em;z-index:2;text-align:right}
.full-img{padding:0}.full-img img{width:100%;height:100%}
.full-img h3,.full-img .text,.full-img .center-text{position:absolute;width:100%;text-align:center;z-index:2}
.right-img{padding:0;text-align:left}
.right-img img,.right-img .text{position:absolute}
.right-img img{margin:0;height:100%;right:0;top:0;z-index:1}
.right-img .text{left:0;top:0;z-index:2;padding:2em}
.center-img{width:100%;height:100%;background-position:center center;background-repeat:no-repeat}
.top-text{padding:0}
.bottom-text h3{height:10%; padding-bottom:10%}
.bottom-text img{height:80%}

.page-2{background-color:#fefff1;padding:0;text-align:center; background:url(../img/iali63.jpg) no-repeat; background-size:100% 100%;}

.page-2 p{height:10%;padding-top:5%;margin:0}

.page-3{background-color:#c1b287;background:url(../img/iali35.jpg) no-repeat; background-size:100% 100%;}
.page-4{background:url(../img/iali6.jpg) no-repeat; background-size:100% 100%;}
.page-5{background:url(../img/iali19.jpg) no-repeat; background-size:100% 100%;}
.page-6{background:url(../img/iali29.jpg) no-repeat; background-size:100% 100%;}
.page-6 h3{position:absolute;right:10%;top:45%;color:#bc195b}
.page-7{background:url(../img/iali60.jpg) no-repeat; background-size:100% 100%;}
.page-7 h3{position:absolute;top:1em;left:50%;padding:0;margin-top:0;margin-left:-240px;z-index:1}
.page-8{background:url(../img/iali51.jpg) no-repeat; background-size:100% 100%;}
.page-8 h3{color:#eef;position:absolute;top:1em;left:50%;margin-left:-40%;padding:0;margin-top:0;width:10em;text-align:left}
.page-8 h3 span{display:inline-block;width:1em;vertical-align:top}
.page-9{background:url(../img/iali5.jpg) no-repeat; background-size:100% 100%;}
.page-10{background:url(../img/iali22_bg.jpg) no-repeat; background-size:100% 100%;}
.page-11{background:url(../img/iali24.jpg) no-repeat; background-size:100% 100%;}
.page-12{background:url(../img/iali25.jpg) no-repeat; background-size:100% 100%;}
.page-12 h3{margin-left:1em;margin-right:1em}
.page-13{background:url(../img/iali64.jpg) no-repeat; background-size:100% 100%;}
.page-14{background:url(../img/iali46.jpg) no-repeat; background-size:100% 100%;}
.page-15{background:url(../img/iali45.jpg) no-repeat; background-size:100% 100%;}
.page-16{background:url(../img/iali66.jpg) no-repeat; background-size:100% 100%;}
.page-17{background:url(../img/iali16.jpg) no-repeat; background-size:100% 100%;}
.page-18{background:url(../img/iali11.jpg) no-repeat; background-size:100% 100%;}
.page-19{background:url(../img/iali75.jpg) no-repeat;background-size:100% 100%;}
.page-19 h3{margin-bottom:2em}
.page-18 .text{margin-left:1em;margin-right:1em}
.page-20{background:url(../img/iali9.jpg) no-repeat;background-size:100% 100%;}

.page-21{background:url(../img/iali59.png) no-repeat;background-size:100% 100%;}
.page-22{background:url(../img/iali4.jpg) no-repeat;background-size:100% 100%;}
.page-23{background:url(../img/iali44.jpg) no-repeat;background-size:100% 100%;}
.page-24{background:url(../img/iali32.jpg) no-repeat;background-size:100% 100%;}
.page-25{background:url(../img/iali37.jpg) no-repeat;background-size:100% 100%;}
.page-26{background:url(../img/iali10.gif) no-repeat;background-size:100% 100%;}

.page-27{background:url(../img/iali67.jpg) no-repeat;background-size:100% 100%;}
.page-27 h3{position:absolute;z-index:2;width:100%;text-align:center}
.page-28{background:url(../img/iali40.jpg) no-repeat;background-size:100% 100%;}

.page-28 h3{position:absolute;right:1em;bottom:360px;text-align:right;color:#127184}
.page-29{background:url(../img/iali12.jpg) no-repeat;background-size:100% 100%;}
.page-29 h3{position:absolute;z-index:2;width:100%;text-align:center;color:#eef}
.page-30{background:url(../img/iali76.gif) no-repeat;background-size:100% 100%;}

.page-31{background:url(../img/iali77.jpg) no-repeat;background-size:100% 100%;}
.page-32{background:url(../img/iali62.jpg) no-repeat;background-size:100% 100%;}
.page-33{background:url(../img/iali3.jpg) no-repeat;background-size:100% 100%;}
.page-33 h3{font-size:1.8em;color:#a58545}
.page-34{background:url(../img/iali67.jpg) no-repeat;background-size:100% 100%;}
.page-34 h3{color:#fff}
.page-35{background:url(../img/iali8.gif) no-repeat;background-size:100% 100%;}

.page-35 h3{position:absolute;right:10%;top:5%;color:green;z-index:2;font-size:2em}
.page-36{background:url(../img/iali31.jpg) no-repeat;background-size:100% 100%;}
.page-36 h3{text-align:right;right:1.5em;color:#eee}
.page-37{background:url(../img/iali49.jpg) no-repeat;background-size:100% 100%;}
.page-38{background:url(../img/iali21.jpg) no-repeat;background-size:100% 100%;}
.page-39{background:url(../img/iali2_bg.jpg) repeat;background-size:100% 100%;}
.page-40{background:url(../img/iali14.jpg) no-repeat;background-size:100% 100%;}
.page-40 h3{position:absolute;top:1em;right:1em;z-index:2}

.page-44{background:url(../img/iali0.jpg) no-repeat;background-size:100% 100%;}
.page-45{background:url(../img/iali18.jpg) no-repeat;background-size:100% 100%;}
.page-46{background:url(../img/iali57.gif) no-repeat;background-size:100% 100%;}
.page-46 h3{position:absolute;top:1em;left:50%;margin-left:-40%;padding:0;margin-top:0;width:10em;text-align:left}
.page-46 h3 span{display:inline-block;width:1em;vertical-align:top}
.page-47{background:url(../img/iali58.jpg) no-repeat;background-size:100% 100%;}
.page-47 h3{position:absolute;top:1em;left:50%;margin-left:-40%;padding:0;margin-top:0;width:10em;text-align:left}
.page-47 h3 span{display:inline-block;width:1em;vertical-align:top}
.page-48{background:url(../img/iali65.jpg) no-repeat;background-size:100% 100%;}
.page-49{background:url(../img/iali71.jpg) no-repeat;background-size:100% 100%;}
.page-51{background:url(../img/iali52.jpg) no-repeat;background-size:100% 100%;}
.page-52{background:url(../img/iali20.jpg) no-repeat;background-size:100% 100%;}
.page-52 h3{margin:0;padding-top:.8em;font-size:1.6em;color:#4e0f3d}
.page-53{background:url(../img/iali68.jpg) no-repeat;background-size:100% 100%;}
.page-54{background:#d3d2d0 url(../img/319280_bg.jpg) repeat;background-size:100% 100%;}
.page-54 .center-img{background-image:url(../img/319280.jpg);text-indent:-99999px}
.page-54 h3{line-height: 1rem;padding-top: 0.5em}
.page-55{background:url(../img/14915.jpg) no-repeat;background-size:100% 100%;}

.write-tip{position: fixed;display: block;color: #333;font-size: 16px;bottom: 0.2em;left: 33%;padding: 3px;z-index: 999;background-color: #fff;border: 1px solid #D3D3D3;border-radius: 4px}
.write-tip img{vertical-align: -2px;margin-left: 5px;cursor:pointer}
.write-tip button{color: #fff;font-size: 15px;display: inline-block;background-color: #428bca;padding: 6px 12px;margin-left: 5px;vertical-align: 1px;border: 1px solid #357ebd;border-radius: 4px;outline:none;cursor:pointer}
.write-tip button:hover{background-color: #3276b1;border-color: #285e8e}
.write-tip button:active{box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)}
.write-ok{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 999;background-color:#FCC7E2; background-attachment:fixed;display:none}
.write-ok .write-box{position: relative;margin: 15% auto;padding: 20px;text-align: center;width: 50%;height: 45%;background:#fff;box-shadow: 0px 0px 10px 0px #F7B5DC;border-radius: 8px;}
.write-box h2{font-size: 2em;line-height: 2.5em;color: #5EAF6F;text-shadow: 1px 1px 3px #D3D3D3;}
.write-box p{line-height: 2em;white-space: pre-wrap;word-wrap: break-word}
.write-box p u, .write-box p a{color: #007ed9;}
.write-box p u:hover, .write-box p a:hover{color: #EB56AF;}
.write-box p span{display: inline-block;min-width: 1em;line-height: 1.3em;padding: 0 2px;margin: 0 2px;outline: 1px solid #ccc}
.write-box p i{position: relative;top: -1px;font-size: 0.8em;color: #806D6D;padding: 3px 4px;background: #F7F7F7;border: 1px solid #E7E7E7;border-radius: 6px;display:none;}
.write-box p small{line-height: 3em;font-size: 90%;color: #999;}
.write-box #back{color: #888; margin-right:5px}
.write-box button{color: #fff;font-size: 1.2em;display: inline-block;background-color: #428bca;padding: 13px 14px;margin-top: 1em;border: 1px solid #357ebd;border-radius: 4px;outline:none;cursor:pointer}
.write-box button:hover{background-color: #3276b1;border-color: #285e8e}
.write-tip button:active{box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)}
.write-share{background:#f1f1f1;text-align: center;display: inline-block;padding: 13px 14px;margin-top: 1em;border: 1px solid #DADADA;border-radius: 4px;display:none;}
.disabled{pointer-events: none;cursor: not-allowed;opacity: .65;filter: alpha(opacity=65);box-shadow: none;}
.mPower{position: fixed;bottom: 9rem;right: 6.2rem;z-index: 999;}
#on, #off{width: 16px;height: 16px;display: inline-block;margin-bottom: -3px;filter: alpha(opacity=0.8);opacity: 0.8;cursor: pointer;}
#on:hover, #off:hover{filter: alpha(opacity=4);opacity: 1}
#on{background: url("../img/music.png") left center no-repeat;}
#off{background: url("../img/mute.png") left center no-repeat;display: none;}
.bdsharebuttonbox{padding:12px 0 0 92px;}